* {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
    background-color: rgb(55, 74, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

main {
    background-color: rgb(222, 175, 175);
    width: 690px;
    margin: auto;
    padding: 10px;
    margin-top: 80px;

    box-shadow: 3px 3px 5px rgba(0, 0, 0.473);
}

h1 {
    margin: none;
    font-size: 2.5rem;
    color: rgb(100, 16, 218);
}

h2 {
    font-size: 1.5rem;
    color: rgb(100, 18, 218);
}

img.lado {
    float: right;
}
 a { 
    text-decoration: none;
    font-weight: bold;
    color: rgb(213, 71, 32);
 }

 a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
 }

 .logo1 {
    position: absolute;
    margin-top: 180px;
    left: 120px;
 }

 .logo2 {
    position: absolute;
    padding: 198px 0 0 1290px;
    margin-top: 380px;
 } 

 .titlevideo p {
    color: #1b0461;
    font-size: 40px;
    font-weight: 900;
    padding: 0;

    margin: 80px 0 25px;
    

 }

.video {
    padding: auto;
    margin: 0 540px 460px 422px;
    width: 690px;
}

